@font-face {
  font-family: "Alibaba";
  src: url("/fonts/alibaba/Alibaba-Regular.woff2") format("woff2"),
    url("/fonts/alibaba/Alibaba-Regular.woff") format("woff"),
    url("/fonts/alibaba/Alibaba-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alibaba";
  src: url("/fonts/alibaba/Alibaba-Light.woff2") format("woff2"),
    url("/fonts/alibaba/Alibaba-Light.woff") format("woff"),
    url("/fonts/alibaba/Alibaba-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alibaba";
  src: url("/fonts/alibaba/Alibaba-Bold.woff2") format("woff2"),
    url("/fonts/alibaba/Alibaba-Bold.woff") format("woff"),
    url("/fonts/alibaba/Alibaba-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alibaba";
  src: url("/fonts/alibaba/Alibaba-Black.woff2") format("woff2"),
    url("/fonts/alibaba/Alibaba-Black.woff") format("woff"),
    url("/fonts/alibaba/Alibaba-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
